In [1]:
import pandas as pd
dir = "C:\\Users\Youngju Hong\Documents\GitHub\seoulresearch_project\Research\safety"

In [22]:
data = pd.read_table(f"{dir}\서울시 화재발생 현황 (동별) 통계.txt", header= 0, sep = "\t")

In [23]:
print(data)
print(data.describe())

       기간  자치구     동     발생   발생.1 발생.2 발생.3   소실   소실.1    소실.2         피해액  \
0      기간  자치구     동     합계     실화   방화   기타   동수  이재가구수      면적          합계
1    2019   합계    합계  5,881  5,251  136  494  773    171  32,221  92,409,010
2    2019  종로구    소계    232    201    7   24    3      2   1,001     801,094
3    2019  종로구   사직동      8      6    2    -    -      -       2       1,160
4    2019  종로구   삼청동      5      5    -    -    -      -      23      59,533
..    ...  ...   ...    ...    ...  ...  ...  ...    ...     ...         ...
444  2019  강동구  성내3동     14     14    -    -    1      -       7      42,870
445  2019  강동구  둔촌2동     16     16    -    -    2      -     159      86,327
446  2019  강동구  암사1동     30     29    -    1    3      -      39      21,580
447  2019  강동구  천호2동     34     30    2    2    2      -       8      41,024
448  2019  강동구    길동     18     16    -    2    1      -     405      13,631

          피해액.1       피해액.2      재산피해경감액 인명피해 인명피해.1 인명피해.2  이재민수  구조인원
0           부동산          동산      재산피해경감액   합계     사망     부상  이재민수  구조인원
1    12,331,390  80,077,620  384,176,624  398     37    361   318   921
2       403,054     398,040   22,189,709   20      4     16    17    23
3           625         535    5,058,849    3      1      2     -     2
4        36,449      23,084       83,931    -      -      -     -     -
..          ...         ...          ...  ...    ...    ...   ...   ...
444      14,671      28,199      162,590    -      -      -     -     -
445      33,930      52,397      101,124    9      -      9     -     5
446       6,623      14,957       62,485    -      -      -     -     6
447      10,901      30,123       65,608    -      -      -     -    11
448       3,887       9,744       44,260    -      -      -     -     1

[449 rows x 19 columns]
          기간  자치구    동   발생 발생.1 발생.2 발생.3   소실 소실.1 소실.2  피해액 피해액.1 피해액.2  \
count    449  449  449  449  449  449  449  449  449  449  449   449   449
unique     2   27  424   70   66   14   26   35   21  156  449   426   447
top     2019  송파구   소계    9    8    -    -    -    -    -  690     -   671
freq     448   28   25   40   42  317  168  164  377   69    1    19     2

       재산피해경감액 인명피해 인명피해.1 인명피해.2 이재민수 구조인원
count      449  449    449    449  449  449
unique     440   25      8     25   27   39
top          -    -      -      -    -    -
freq         9  258    395    272  377  235

In [24]:
data.columns

Index(['기간', '자치구', '동', '발생', '발생.1', '발생.2', '발생.3', '소실', '소실.1', '소실.2',
       '피해액', '피해액.1', '피해액.2', '재산피해경감액', '인명피해', '인명피해.1', '인명피해.2', '이재민수',
       '구조인원'],
      dtype='object')

In [25]:
data["구동"] = data.iloc[:, 1] + " " + data.iloc[:, 2]

In [27]:
data["구동"]

0         자치구 동
1         합계 합계
2        종로구 소계
3       종로구 사직동
4       종로구 삼청동
         ...
444    강동구 성내3동
445    강동구 둔촌2동
446    강동구 암사1동
447    강동구 천호2동
448      강동구 길동
Name: 구동, Length: 449, dtype: object

In [40]:
data = data.sort_values(["구동", "발생"])[["자치구", "동","발생","구동"]]

In [41]:
dat

     자치구     동     발생        구동
392  강남구  개포1동      2  강남구 개포1동
402  강남구  개포2동      6  강남구 개포2동
393  강남구  개포4동     13  강남구 개포4동
382  강남구  논현1동     44  강남구 논현1동
383  강남구  논현2동     36  강남구 논현2동
..   ...   ...    ...       ...
113  중랑구  신내1동     15  중랑구 신내1동
114  중랑구  신내2동      9  중랑구 신내2동
108  중랑구  중화1동      9  중랑구 중화1동
109  중랑구  중화2동     22  중랑구 중화2동
1     합계    합계  5,881     합계 합계

[449 rows x 4 columns]

In [53]:
code = pd.read_csv("C:\\Users\Youngju Hong\Documents\GitHub\seoulresearch_project\Research\safety\행정동코드.csv")
code = code.loc[:, ["구동", "통계청코드"]]

In [46]:
#code = dict(zip(code["구동"], code["통계청코드"]))

In [47]:
#data["code"] = data["구동"].apply(lambda x: code[x] if x in code else "")

In [50]:
#data = data[data["code"] != ""]

In [59]:
pd.merge(code, data, how = "left").to_excel("화재발생통계.excel")

In [51]:
data

     자치구     동  발생        구동     code
392  강남구  개포1동   2  강남구 개포1동  1123068
402  강남구  개포2동   6  강남구 개포2동  1123080
393  강남구  개포4동  13  강남구 개포4동  1123071
382  강남구  논현1동  44  강남구 논현1동  1123052
383  강남구  논현2동  36  강남구 논현2동  1123053
..   ...   ...  ..       ...      ...
107  중랑구  상봉2동  16  중랑구 상봉2동  1107060
113  중랑구  신내1동  15  중랑구 신내1동  1107069
114  중랑구  신내2동   9  중랑구 신내2동  1107070
108  중랑구  중화1동   9  중랑구 중화1동  1107061
109  중랑구  중화2동  22  중랑구 중화2동  1107062

[421 rows x 5 columns]