In [3]:
import pandas as pd
file = pd.read_excel("/Users/hong/OneDrive - ./projectfile/외국인학교 위치.xlsx")

In [9]:
import requests
file.head()

       Unnamed: 0            Unnamed: 1                     Unnamed: 2
0  한국외국인학교(서울캠퍼스)     서울특별시 강남구 개포동 155      서울특별시 강남구 개포동 155 한국외국인학교
1       한국켄트외국인학교  서울특별시 광진구 구의동 619-30           서울특별시 광진구 구의동 619-30
2   아시아퍼시픽국제외국인학교     서울특별시 노원구 월계동 820  서울특별시 노원구 월계동 820 아시아퍼시픽 국제학교
3         서울외국인학교   서울특별시 서대문구 연희동 55-1    서울특별시 서대문구 연희동 55-1 서울외국인학교
4        코리아외국인학교    서울특별시 서초구 양재동 2-32    서울특별시 서초구 양재동 2-32 코리아외국인학교

In [6]:
url = "http://api.vworld.kr/req/search?service=search&request=search&\
                                        &size=5&page=1&query={}&type=place&format=json&errorformat=json&crs=EPSG:5179\
                                                    &key=8FEEBFAF-A069-393A-B997-411AA9884913"

In [11]:
searched_address = pd.DataFrame(columns = ["검색 키워드", "주소", "위도", "경도"])
count = 0
for i in range(len(file)):
    
    result = requests.get(url.format(file.iloc[i,1])).json()["response"]["result"]["items"][0]
    try:
        print(result['title'], result['address']['parcel'], result['point']['x'], result['point']['y'])
        searched_address[count] = [result['title'], result['address']['parcel'], result['point']['x'], result['point']['y']]
    except:
        searched_address[count] = [file.iloc[i,1], None, None, None]
        
    finally:
        count += 1

수도전기공업고등학교 서울특별시 강남구 개포동 155 961426.882019887 1943027.049281597
KOREAKENTFOREIGNSCHOOL 서울특별시 광진구 구의동 619-30 963467.154618849 1949842.51718894
대의산 서울특별시 노원구 월계동 820 960342.737420621 1959105.634298829
서울외국인학교입구 서울특별시 서대문구 연희동 55-1 950175.471425812 1952408.385591641
레인보우국제학교입구 서울특별시 서초구 양재동 2-32 959433.053820907 1942927.356481478
삼립빌딩입구 서울특별시 용산구 한남동 4-22 956872.934122277 1948714.300187703
용산국제학교 서울특별시 용산구 한남동 산10-212 955885.717922786 1949142.927688162
서울대교구국제성당 서울특별시 용산구 한남동 707-10 956363.263022525 1948690.493987675
MJFS입구 서울특별시 중구 신당동 366-591 956705.900522344 1950482.734389603
영등포화교소학교입구 서울특별시 영등포구 문래동1가 29-3 946951.352727355 1946132.504884892
한성화교고등학교 서울특별시 서대문구 연희동 89-1 950281.154425725 1952667.279591925
서울프랑스학교 서울특별시 서초구 반포동 98-2 955618.248422816 1944185.504182822
구기동 서울특별시 종로구 구기동 151 951996.760324863 1956992.455296551
서울일본인학교입구 서울특별시 마포구 상암동 1582 945684.944628097 1953956.991293281
제이제이케터링(주)서울독일지점 서울특별시 용산구 한남동 4-13 956872.673522267 1948778.769587774
광장중학교 서울특별시 광진구 광장동 394-5 964835.179818204 1949848.144488949
DULWICHCOLLEGESCHOOL 서울특별시 서초구 반포동 5-1 955381.664322973 1945126.551783842
아라코(주)드와이트스쿨구내식당 서울특별시 마포구 상암동 1582-1 945706.746628114 1954043.364093371

In [13]:
searched_address.transpose().to_excel("searched_address.xlsx")

In [ ]:
    
    
    def addressretrieveinterface(self):
        searched_address = pd.DataFrame(columns = ["검색 키워드", "주소", "위도", "경도"])
        count = 0
        while True:
            print("Input an Address for search: type nothing for quit.")
            temp_address = input()
            if temp_address == "":
                break
            result = requests.get(self.url.format(temp_address)).json()["response"]
            if result["status"] in ("NOT_FOUND", "ERROR"):
                print("Result not found")
            else:
                print("Results: Choose your option.")
                for i in result["result"]["items"]:
                    print(f"검색어: {i['title']}, 주소: {i['address']['parcel']}, 좌표: {i['point']['x'], i['point']['y']}")
                    answer =  input("Take or Leave - 1/0")
                    if answer == "1":
                        searched_address[count] = [i['title'], i['address']['parcel'], i['point']['x'], i['point']['y']]
                        count += 1
                        break

                    print("-" * 50)

        searched_address.transpose().to_excel("searched_address.xlsx")