In [3]:
import pandas as pd
fdata = pd.read_excel("uhm_revised.xlsx")

In [201]:
#instate handling

population = pd.DataFrame(columns = ["행정동코드", "총생활인구수"])
#"기준일ID", "시간대구분", "행정동코드", "총생활인구수"


for i in range(1,6):
    pop = pd.read_csv(f"loca/LOCAL_PEOPLE_DONG_20200{str(i)}.csv")
    pop = pop[["행정동코드", "총생활인구수"]]
    print(pop.groupby(by = "행정동코드", as_index = False).mean())
    #print(pop)
    population = pd.concat([population, pop])
    #grouped = pop.groupby(by = ["행정동코드"], as_index = False)
    #grouped

population = population.groupby(by = ["행정동코드"], as_index = False).mean()
population.columns = ["h_dng_cd", "pop"]
#pd.concat([population, pop])

#population

        행정동코드        총생활인구수
0    11110515  15464.823381
1    11110530  26491.581418
2    11110540   5926.624077
3    11110550  14897.514328
4    11110560  17769.774535
..        ...           ...
419  11740650  26989.032683
420  11740660  27121.312091
421  11740685  51043.063416
422  11740690   7405.932179
423  11740700  32039.902573

[424 rows x 2 columns]
        행정동코드        총생활인구수
0    11110515  15557.059783
1    11110530  25614.479375
2    11110540   5785.818386
3    11110550  15220.013375
4    11110560  18381.120096
..        ...           ...
419  11740650  26994.391520
420  11740660  28099.835834
421  11740685  51814.684958
422  11740690   7560.599971
423  11740700  32520.969609

[424 rows x 2 columns]
        행정동코드        총생활인구수
0    11110515  15643.687351
1    11110530  22427.770681
2    11110540   5507.687678
3    11110550  15419.195735
4    11110560  19232.048204
..        ...           ...
419  11740650  27304.396475
420  11740660  27220.340880
421  11740685  50708.874368
422  11740690   7442.161566
423  11740700  32506.530368

[424 rows x 2 columns]
        행정동코드        총생활인구수
0    11110515  15945.452452
1    11110530  23268.646834
2    11110540   5678.600937
3    11110550  15477.211308
4    11110560  19178.771821
..        ...           ...
419  11740650  26539.897742
420  11740660  26723.775318
421  11740685  51407.839583
422  11740690   7497.077972
423  11740700  30322.354839

[424 rows x 2 columns]
        행정동코드        총생활인구수
0    11110515  15773.399087
1    11110530  23996.954141
2    11110540   5871.890252
3    11110550  15387.275072
4    11110560  19168.255196
..        ...           ...
419  11740650  25944.812930
420  11740660  27117.901164
421  11740685  51730.861781
422  11740690   7491.545124
423  11740700  28757.417165

[424 rows x 2 columns]

In [271]:


fdata = fdata.sort_values(["h_dng_cd"])
fdata["gu"] = (fdata["h_dng_cd"] // 10000)
population["gu"] = population["h_dng_cd"] // 10000

temp_outstate = fdata.groupby(by = ["gu"]).sum().reset_index()

temp_instate = population.groupby(by = ["gu"]).sum().reset_index()
result = pd.merge(temp_outstate, temp_instate, on = "gu")[["gu", "fornlong_spop", "pop"]]
result.columns = ["gu", "outstate_total", "instate_total"]
print(result)

result.to_excel("구별생활인구.xlsx")

      gu  outstate_total  instate_total
0   1111    15862.794754  277148.772255
1   1114    20141.702408  256922.500118
2   1117    23128.541111  288325.365781
3   1120    15760.010758  347596.244542
4   1121    22373.861305  372258.067759
5   1123    22388.094519  359021.882619
6   1126     6342.809305  364389.185871
7   1129    14811.839566  432493.994099
8   1130     5333.140815  309591.710002
9   1132     3022.457018  284695.789057
10  1135     5377.033616  534865.188538
11  1138     7494.066221  453336.805505
12  1141    21256.655319  365458.889131
13  1144    21159.385450  460374.420210
14  1147     6104.827645  408236.861255
15  1150    10396.863908  546335.430397
16  1153    29884.698753  393715.185104
17  1154    17704.464627  226244.038786
18  1156    36543.363245  461196.954270
19  1159    16440.141910  405348.824145
20  1162    23279.119647  495133.041160
21  1165    16545.515108  575991.794786
22  1168    20720.306611  816006.707732
23  1171    17760.703747  761236.304085
24  1174     9688.919626  509112.176013

In [266]:
fdata = fdata.groupby("h_dng_cd").mean().reset_index()
populationByNation = pd.merge(fdata, population, on = ["h_dng_cd", "gu"]).reset_index()
print(populationByNation)

     index  h_dng_cd  fornlong_spop    gu           pop
0        0  11110515     261.961488  1111  15676.694156
1        1  11110530    1276.160389  1111  24350.557897
2        2  11110540     176.497064  1111   5754.204102
3        3  11110550     514.357301  1111  15279.738594
4        4  11110560     445.660312  1111  18747.947720
..     ...       ...            ...   ...           ...
419    419  11740650    1340.035420  1174  26752.761783
420    420  11740660     475.452281  1174  27249.043927
421    421  11740685     726.042915  1174  51334.393669
422    422  11740690     103.799581  1174   7478.279890
423    423  11740700     470.476820  1174  31218.408665

[424 rows x 5 columns]

In [267]:
populationByNation = pd.merge(populationByNation, result, on = ["gu"], how = "inner")
print(populationByNation)

     index  h_dng_cd  fornlong_spop    gu           pop  outstate_total  \
0        0  11110515     261.961488  1111  15676.694156    15862.794754
1        1  11110530    1276.160389  1111  24350.557897    15862.794754
2        2  11110540     176.497064  1111   5754.204102    15862.794754
3        3  11110550     514.357301  1111  15279.738594    15862.794754
4        4  11110560     445.660312  1111  18747.947720    15862.794754
..     ...       ...            ...   ...           ...             ...
419    419  11740650    1340.035420  1174  26752.761783     9688.919626
420    420  11740660     475.452281  1174  27249.043927     9688.919626
421    421  11740685     726.042915  1174  51334.393669     9688.919626
422    422  11740690     103.799581  1174   7478.279890     9688.919626
423    423  11740700     470.476820  1174  31218.408665     9688.919626

     instate_total
0    277148.772255
1    277148.772255
2    277148.772255
3    277148.772255
4    277148.772255
..             ...
419  509112.176013
420  509112.176013
421  509112.176013
422  509112.176013
423  509112.176013

[424 rows x 7 columns]

In [268]:
populationByNation["foreigner_ratio"] = populationByNation["fornlong_spop"] / populationByNation["outstate_total"]
populationByNation["local_ratio"] = populationByNation["pop"] / populationByNation["instate_total"]

In [270]:
populationByNation.to_excel("인구비.xlsx")

In [282]:
fdata = pd.read_excel("uhm_revised.xlsx")

In [280]:
fdata.loc[:, "ymd":"forsum"]

In [284]:
fdata.iloc[:, 2:4]

       tt  h_gu_cd
0       0     1111
1       0     1114
2       0     1117
3       0     1120
4       0     1122
...    ..      ...
91195  23     1162
91196  23     1165
91197  23     1168
91198  23     1171
91199  23     1174

[91200 rows x 2 columns]