In [95]:
import pandas as pd

In [108]:
gucode = pd.read_excel("C:\\Users\Youngju Hong\Desktop\서울연구원 논문대회\구_코드.xls")

In [109]:
dong = dict(zip(gucode["ADM_CD"], gucode["ADM_NM"]))

In [110]:
area_info = gucode[["ADM_CD", "ADM_NM"]]

In [111]:
#1. Area_Green

green = pd.read_csv("C:/Users/Youngju Hong/Desktop/green.csv", encoding = "cp949")[["CatchArea","SHAPE_AREA", "ADM_CD"]]
area_info = area_info.merge(green, on = "ADM_CD", how = "left")
area_info = area_info.rename(columns = {"SHAPE_AREA": "GREEN_AREA"})

In [112]:
#2. Area_Commercial

commercial = pd.read_csv("C:/Users/Youngju Hong/Desktop/commercial.csv", encoding = "cp949")[["SHAPE_AREA", "ADM_CD"]]
area_info = area_info.merge(commercial, on = "ADM_CD", how = "left")
area_info = area_info.rename(columns = {"SHAPE_AREA": "COMMERCIAL_AREA"})

In [113]:
#3. Area_Living

living = pd.read_csv("C:/Users/Youngju Hong/Desktop/living.csv", encoding = "cp949")[["SHAPE_AREA", "ADM_CD"]]
area_info = area_info.merge(living, on = "ADM_CD", how = "left")
area_info = area_info.rename(columns = {"SHAPE_AREA": "LIVING_AREA"})

In [114]:
#4. Area_Industrial

industrial = pd.read_csv("C:/Users/Youngju Hong/Desktop/industrial.csv", encoding = "cp949")[["SHAPE_AREA", "ADM_CD"]]
area_info = area_info.merge(industrial, on = "ADM_CD", how = "left")
area_info = area_info.rename(columns = {"SHAPE_AREA": "INDUSTRIAL_AREA"})

In [115]:
area_info = area_info.fillna(0)
area_info

,ADM_CD,ADM_NM,CatchArea,GREEN_AREA,COMMERCIAL_AREA,LIVING_AREA,INDUSTRIAL_AREA
0,1101053,사직동,1159397.0,1.592249e+05,344111.082087,6.601780e+05,0.0
1,1101054,삼청동,1479247.0,9.601985e+05,8650.461298,5.117264e+05,0.0
2,1101055,부암동,2274547.0,1.194347e+06,0.000000,1.069213e+06,0.0
3,1101056,평창동,8947843.0,6.588696e+06,0.000000,2.352885e+06,0.0
4,1101057,무악동,369518.0,1.207157e+05,0.000000,2.430792e+05,0.0
...,...,...,...,...,...,...,...
419,1125070,둔촌1동,912170.0,2.316044e+05,0.000000,6.805405e+05,0.0
420,1125071,둔촌2동,1550442.0,8.514790e+05,0.000000,6.988435e+05,0.0
421,1125072,암사1동,0.0,0.000000e+00,0.000000,7.354311e+05,0.0
422,1125073,천호2동,1850842.0,8.195355e+05,121322.986581,9.109184e+05,0.0
423,1125074,길동,1631603.0,4.224627e+05,146945.173797,1.062155e+06,0.0

In [116]:
area_info["sum"] = area_info.loc[:, "GREEN_AREA" : "INDUSTRIAL_AREA"].astype(int).sum(axis = 1)

In [117]:
area_info.to_excel("area.xlsx")