In [160]:
import pandas as pd
file_dir = "C:\\Users\Youngju Hong\Documents\projectfile\workload"

In [161]:
foreign = pd.read_table(f"{file_dir}\SE_SPOP_FORN_LONG_RESD_DONG_2020년1월-5월.txt", sep = ',')

In [162]:
foreign.head()

,ymd,tt,h_dng_cd,fornlong_spop,chn,vnm,usa,jpn,can,twn,etcsum
0,20200101,0,11110515,204.3423,81.5946,0.0238,52.6440,5.9314,15.6232,0.0037,48.5216
1,20200101,0,11110530,996.7482,234.0191,14.8886,183.3293,34.7678,50.3823,12.4711,466.8905
2,20200101,0,11110540,168.6856,43.7797,13.9304,48.6421,6.5842,0.3645,13.3380,42.0469
3,20200101,0,11110550,437.9146,245.3211,4.4483,88.1657,0.0000,29.5340,9.6511,60.7944
4,20200101,0,11110560,380.7847,116.9250,4.4532,120.6092,10.7719,24.8353,26.4001,76.7901

In [163]:
foreign.dtypes

#1. businessday 변수: Business Day일 경우 True, 아니면 False
def mark_holidays(x):    
    if x % 1000 in (101,124,125,126,301,430,501,505):
        return False
    else:
        return True
    
foreign["businessday"] = foreign["ymd"].apply(mark_holidays)

In [164]:
#2. ymd 변수를 날짜변수로 변경 후 요일 지정

foreign["ymd"] = pd.to_datetime(foreign["ymd"], format = "%Y%m%d")

#3. 요일 설정,  0123456 = 월화수목금토일

foreign["day"] = foreign["ymd"].dt.weekday
day_to_letter = dict(zip([_ for _ in range(7)], ["mon","tue","wed","thu", "fri", "sat", "sun"]))

def day_transition(day_in_integer):
    return day_to_letter[day_in_integer]

foreign["day_in_letter"] = foreign["day"].apply(day_transition)

In [167]:
foreign["weekday"] = foreign["day"].apply(lambda x: False if x >= 5 else True)

#foreign["businessday"] = foreign

foreign["businessday"] = foreign.apply(lambda x: x["weekday"] & x["businessday"], axis = 1)

In [174]:
#4. 영업시간

foreign["businesshour"] = foreign["tt"].apply(lambda x: True if (x>=9 and x<=18) else False)

In [175]:
#5. 취침시간, 새벽2시 - 5시 사이

foreign["nighttime"] = foreign["tt"].apply(lambda x: True if (x>=2 and x <=5) else False)

In [176]:
print(foreign.head())
print(foreign.dtypes)

         ymd  tt  h_dng_cd  fornlong_spop       chn      vnm       usa  \
0 2020-01-01   0  11110515       204.3423   81.5946   0.0238   52.6440
1 2020-01-01   0  11110530       996.7482  234.0191  14.8886  183.3293
2 2020-01-01   0  11110540       168.6856   43.7797  13.9304   48.6421
3 2020-01-01   0  11110550       437.9146  245.3211   4.4483   88.1657
4 2020-01-01   0  11110560       380.7847  116.9250   4.4532  120.6092

       jpn      can      twn    etcsum  businessday  day day_in_letter  \
0   5.9314  15.6232   0.0037   48.5216        False    2           wed
1  34.7678  50.3823  12.4711  466.8905        False    2           wed
2   6.5842   0.3645  13.3380   42.0469        False    2           wed
3   0.0000  29.5340   9.6511   60.7944        False    2           wed
4  10.7719  24.8353  26.4001   76.7901        False    2           wed

   weekday  businesshour  nighttime
0     True         False      False
1     True         False      False
2     True         False      False
3     True         False      False
4     True         False      False
ymd              datetime64[ns]
tt                        int64
h_dng_cd                  int64
fornlong_spop           float64
chn                     float64
vnm                     float64
usa                     float64
jpn                     float64
can                     float64
twn                     float64
etcsum                  float64
businessday                bool
day                       int64
day_in_letter            object
weekday                    bool
businesshour               bool
nighttime                  bool
dtype: object

In [177]:
#동 코드
codebook = pd.read_excel(f"{file_dir}\행정동코드_매핑정보_2018.xlsx", encoding = "cp949")
codebook = codebook.iloc[1:, :]
codebook["address"] = codebook["시군구명"].astype(str) + " " + codebook["행정동명"]
print(codebook.head())
print(codebook.dtypes)

  통계청행정동코드  행자부행정동코드 시도명 시군구명 행정동명  address
1  1101053  11110530  서울  종로구  사직동  종로구 사직동
2  1101054  11110540  서울  종로구  삼청동  종로구 삼청동
3  1101055  11110550  서울  종로구  부암동  종로구 부암동
4  1101056  11110560  서울  종로구  평창동  종로구 평창동
5  1101057  11110570  서울  종로구  무악동  종로구 무악동
통계청행정동코드    object
행자부행정동코드    object
시도명         object
시군구명        object
행정동명        object
address     object
dtype: object

In [178]:
map_hangcode_address = dict(zip(codebook["행자부행정동코드"], codebook["address"]))

In [179]:
foreign["address"] = foreign["h_dng_cd"].astype(str).apply(lambda x: map_hangcode_address[x])

In [186]:
foreign_by_dong = foreign.groupby(by = ["h_dng_cd", "address", "tt", "businessday", "businesshour"])[["chn","vnm","usa","jpn","can","twn","etcsum"]].mean().reset_index()

In [188]:
foreign_by_dong.to_excel("외국인생활인구.xlsx")