In [5]:
import pandas as pd
import os

In [6]:
data = pd.read_table("서울시 금융기관 (동별) 통계.txt", header = 2, )

In [7]:
data = data.replace("-", "0")

In [8]:
data.loc[:, "한국은행":"외국은행"] = data.loc[:, "한국은행":"외국은행"].astype(int)

In [9]:
data = data[(data["동"] != "소계") & (data["동"] != "합계")]
data.columns

Index(['기간', '자치구', '동', '합계', '한국은행', '우리은행', 'SC제일은행', 'KB국민은행', '신한은행',
       '한국씨티은행', 'KEB하나은행', '지방은행', 'IBK기업은행', 'NH농협은행', '수협은행', 'KDB산업은행',
       '한국수출입은행', '외국은행'],
      dtype='object')

In [10]:
data["구동"] = data["자치구"] + " " + data["동"]

In [11]:
data

,기간,자치구,동,합계,한국은행,우리은행,SC제일은행,KB국민은행,신한은행,한국씨티은행,KEB하나은행,지방은행,IBK기업은행,NH농협은행,수협은행,KDB산업은행,한국수출입은행,외국은행,구동
2,2019,종로구,사직동,20,0,2,0,2,3,1,4,1,1,5,0,0,0,1,종로구 사직동
3,2019,종로구,삼청동,3,0,1,0,0,0,0,1,0,0,1,0,0,0,0,종로구 삼청동
4,2019,종로구,부암동,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,종로구 부암동
5,2019,종로구,평창동,3,0,1,0,0,1,0,1,0,0,0,0,0,0,0,종로구 평창동
6,2019,종로구,무악동,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,종로구 무악동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,2019,강동구,성내3동,5,0,1,0,1,1,0,1,0,1,0,0,0,0,0,강동구 성내3동
399,2019,강동구,둔촌2동,5,0,2,0,2,0,0,1,0,0,0,0,0,0,0,강동구 둔촌2동
400,2019,강동구,암사1동,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,강동구 암사1동
401,2019,강동구,천호2동,4,0,0,0,1,1,0,1,0,0,1,0,0,0,0,강동구 천호2동
402,2019,강동구,길동,9,0,3,0,1,1,0,0,1,1,1,1,0,0,0,강동구 길동

In [24]:
data_aggregated = data.groupby(by = "구동").filter(lambda x: True).reset_index()
data_aggregated
data_aggregated["구동"] = data_aggregated["구동"].apply(lambda x: x.replace("·", ".") if "·" in x else x)

In [25]:
data_aggregated.iloc[8,:]

index               10
기간                2019
자치구                종로구
동              종로5·6가동
합계                   8
한국은행                 0
우리은행                 1
SC제일은행               0
KB국민은행               0
신한은행                 2
한국씨티은행               0
KEB하나은행              3
지방은행                 0
IBK기업은행              1
NH농협은행               0
수협은행                 1
KDB산업은행              0
한국수출입은행              0
외국은행                 0
구동         종로구 종로5.6가동
Name: 8, dtype: object

In [26]:
code = pd.read_csv("C:\\Users\Youngju Hong\Documents\GitHub\seoulresearch_project\Research\safety\행정동코드.csv")
code = code.loc[:, ["구동", "통계청코드"]]
pd.merge(code, data_aggregated, how = "left").to_excel("은행통계.xlsx")

In [27]:
code = pd.read_csv("C:\\Users\Youngju Hong\Documents\GitHub\seoulresearch_project\Research\행정동코드.csv")

gudong_to_tong_code = dict(zip(code["구동"], code["통계청코드"]))
gudong_to_hang_code = dict(zip(code["구동"], code["행자부코드"]))
code.head()

     통계청코드     행자부코드   시    구  행정동       구동
0  1101053  11110530  서울  종로구  사직동  종로구 사직동
1  1101054  11110540  서울  종로구  삼청동  종로구 삼청동
2  1101055  11110550  서울  종로구  부암동  종로구 부암동
3  1101056  11110560  서울  종로구  평창동  종로구 평창동
4  1101057  11110570  서울  종로구  무악동  종로구 무악동

In [51]:
data["구동"] = data["자치구"] + " " + data["동"]

C:\Users\Youngju Hong\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
data["ADM_CD"] = data["구동"].apply(lambda x: str(int(gudong_to_tong_code[x])) if x in gudong_to_tong_code else None)

C:\Users\Youngju Hong\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
data

,기간,자치구,동,합계,한국은행,우리은행,SC제일은행,KB국민은행,신한은행,한국씨티은행,KEB하나은행,지방은행,IBK기업은행,NH농협은행,수협은행,KDB산업은행,한국수출입은행,외국은행,구동,ADM_CD
2,2019,종로구,사직동,20,0,2,0,2,3,1,4,1,1,5,0,0,0,1,종로구 사직동,1101053
3,2019,종로구,삼청동,3,0,1,0,0,0,0,1,0,0,1,0,0,0,0,종로구 삼청동,1101054
4,2019,종로구,부암동,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,종로구 부암동,1101055
5,2019,종로구,평창동,3,0,1,0,0,1,0,1,0,0,0,0,0,0,0,종로구 평창동,1101056
6,2019,종로구,무악동,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,종로구 무악동,1101057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,2019,강동구,성내3동,5,0,1,0,1,1,0,1,0,1,0,0,0,0,0,강동구 성내3동,1125067
399,2019,강동구,둔촌2동,5,0,2,0,2,0,0,1,0,0,0,0,0,0,0,강동구 둔촌2동,1125071
400,2019,강동구,암사1동,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,강동구 암사1동,1125072
401,2019,강동구,천호2동,4,0,0,0,1,1,0,1,0,0,1,0,0,0,0,강동구 천호2동,1125073
402,2019,강동구,길동,9,0,3,0,1,1,0,0,1,1,1,1,0,0,0,강동구 길동,1125074

In [55]:
data.to_excel("bank.xlsx")

In [23]:
age = pd.read_table("서울시 대표자 연령대별 사업체 현황 (동별) 통계.txt", sep = "\t", header = 1)

In [24]:
age.columns = ['기간', '자치구', '동', "사업체수 합계", "종사자수 합계", "20대 이하 사업체수", "20대 이하 종사자수", "30대 사업체수", "30대 사업자수", "40대 사업체수", "40대 종사자수", "50대 사업체수", "50대 종사자수", "60대 이상 사업체수", "60대 이상 종사자수"]

In [27]:
age = age.loc[:, "동":]; age = age[~(age["동"] == "소계")]

,동,사업체수 합계,종사자수 합계,20대 이하 사업체수,20대 이하 종사자수,30대 사업체수,30대 사업자수,40대 사업체수,40대 종사자수,50대 사업체수,50대 종사자수,60대 이상 사업체수,60대 이상 종사자수
0,합계,"823,385","5,210,936","18,964","53,994","112,155","412,005","217,673","1,200,367","266,674","2,117,153","207,919","1,427,417"
2,사직동,"3,541","49,536",66,188,386,"1,583",942,"7,046","1,243","14,926",904,"25,793"
3,삼청동,712,"4,577",12,41,130,468,191,784,202,"1,198",177,"2,086"
4,부암동,565,"3,609",17,47,66,181,140,596,186,"1,151",156,"1,634"
5,평창동,751,"3,565",15,53,86,336,141,623,267,"1,226",242,"1,327"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,둔촌1동,19,341,-,-,-,-,5,40,7,205,7,96
446,둔촌2동,"1,601","9,718",29,76,179,444,341,"1,551",551,"2,157",501,"5,490"
447,암사1동,"1,916","5,756",57,117,212,586,435,"1,447",612,"2,020",600,"1,586"
448,천호2동,"3,736","14,933",87,248,571,"1,760","1,016","4,027","1,080","5,730",982,"3,168"
449,길동,"5,172","19,657",86,182,488,"1,471","1,040","5,335","1,496","5,780","2,062","6,889"