In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("C://Users/Youngju Hong/Documents/GitHub/seoulresearch_project/Research/Untitled Folder/grouped.xlsx")
data = data.reset_index()
print(data)

      index  Unnamed: 0    구 행정동명  우편번호    동  관리번호
0         0         849  강북구  우이동  1000  우이동   188
1         1         850  강북구  우이동  1001  우이동    28
2         2         851  강북구  우이동  1002  우이동   339
3         3         852  강북구  우이동  1003  우이동   208
4         4         853  강북구  우이동  1004  우이동   163
...     ...         ...  ...  ...   ...  ...   ...
7424   7424        1309  관악구  난향동  8862  신림동     3
7425   7425        1340  관악구  미성동  8863  신림동    16
7426   7426        1341  관악구  미성동  8864  신림동   264
7427   7427        1342  관악구  미성동  8865  신림동   200
7428   7428        1343  관악구  미성동  8866  신림동    54

[7429 rows x 7 columns]

In [3]:
data.sort_values(by = ["관리번호"], ascending = False)

      index  Unnamed: 0     구    행정동명  우편번호       동  관리번호
7406   7406        1361   관악구     삼성동  8846     신림동  1791
5936   5936        5717  영등포구    영등포동  7250  영등포동5가  1011
3811   3811        4483   성동구  왕십리제2동  4710   하왕십리동   797
500     500        2308   노원구  상계3.4동  1633     상계동   796
3952   3952        4458   성동구     송정동  4801     송정동   730
...     ...         ...   ...     ...   ...     ...   ...
3331   3331        5820   용산구    서빙고동  4383   용산동4가     1
3330   3330        5819   용산구    서빙고동  4383    서빙고동     1
3329   3329        5771   용산구       0  4383   용산동6가     1
3328   3328        5770   용산구       0  4383    서빙고동     1
4239   4239         436   강동구     강일동  5215     강일동     1

[7429 rows x 7 columns]

In [52]:
#조건 1. 같은 동 + 같은 우편번호
for i in range(len(data)):
    if data.iloc[i,3] == 0:
        post, dong = data.iloc[i,4], data.iloc[i,5]
        try:
            df = data[(data.iloc[:, 4] == post) & (data.iloc[:, 5] == dong)].sort_values(by = ["관리번호"], ascending = False)
            data.iloc[i,3] = df.iloc[0,3]
            #data.iloc[i,2] = df["행정동명"]
        except:
            pass

In [54]:
data.to_excel("grouped_revised.xlsx")